@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, item{
    background-color: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
}
.img{
  width: 100%;
  height: 40%;
}